@import "_normalize";
@import "_variables";

@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    text-align: center;
    margin-top: 60px;
  }
}

.table {
  max-width: 80%;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  &__head-tr {
    height: 50px;
  }
  &__head-th {
    border: 1px solid #fff;
    color: #fff;
    text-decoration: underline;
    font-weight: 700;
  }
  &__body-row {
    height: 50px;
    &:hover {
      color: #fff;
      transform: scale(1.02);
    }
  }
  &__body-td {
    border: 1px solid #fff;
  }
}

.edit-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  text-align: center;
  margin-bottom: 40px;
  &__header {
    font-size: 20px;
  }
}

.form {
  width: 100%;
  border: 1px solid #fff;
  padding-bottom: 10px;
  &--blurred {
    filter: blur(2px);
  }
  &__element {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 20px;
    &--inactive {
      pointer-events: none;
    }
  }
  &__label {
    text-align: left;
    margin-right: 10px;
  }
  &__btn-submit {
    width: 140px;
    height: 30px;
    background-color: $yellow;
    border: none;
    cursor: pointer;
  }
}
